# Environnement virtuel
venv/
.venv/

# Variables d'environnement
.env

# Python & Jupyter
__pycache__/
*.pyc
.ipynb_checkpoints/

# Fichiers système et IDE
.vscode/
Thumbs.db
Desktop.ini

# Logs
*.log

# Tableau
dashboard/tableau_data/

# =========================
# GESTION DES DONNÉES (DATA)
# =========================

# 1. Ignorer les fichiers de données globaux pour éviter de pousser de la donnée brute

*.csv

# 2. Ignorer tout le contenu du dossier data/
data/*

# 3. CRÉER LES EXCEPTIONS POUR LE DOSSIER GOLD
# Autoriser le suivi du dossier gold
!data/gold/
# Autoriser les fichiers à l'intérieur du dossier gold
!data/gold/**
# Autoriser spécifiquement les formats csv et parquet s'ils sont dans gold
!data/gold/**/*.csv
!data/gold/**/*.parquet
